* {
 margin-left: 0;
 margin-right: 0;
   
}

 #p {
            position: fixed;
            text-align: center;
            width: 100%;
            height: 100%;
            background: rgba(255,175,75,1);
           }

p {
    font-size: 25px;
}

body {
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


#root {
  margin-top: 50px;
  text-align:  center;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

#video {
    border-color: rgba(255,146,10,1);
    border-radius: 5px;
}

a {
     color: #ffffff;
}

a:hover{
    color: #c4c4c4;
}

a:focus {
     color:  #c4c4c4;
}

#puch {
    font-size: 30px;
    border-radius: 10px;
    background: #4dbf11;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align: center;
}

#cont {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 2px;
  z-index: 9999;
}

#prog {
    /*background: #42cef4;*/
  width: 0%;
  height: 2px;
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 37%, rgba(5,188,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(37%, rgba(113,206,239,1)), color-stop(100%, rgba(5,188,255,1)));
  background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 37%, rgba(5,188,255,1) 100%);
  background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 37%, rgba(5,188,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 37%, rgba(5,188,255,1) 100%);
  background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 37%, rgba(5,188,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#05bcff', GradientType=1 );
}

#disqus_thread {
    width: 50%;
    margin-left: 25%;
    margin-right: 15%;
}

#lif_new {
    font-size: 35px;
}


